<form [formGroup]="newZooForm" (ngSubmit)="addZoo()" class="flex flex-col gap-4">
    <div class="flex justify-start gap-4">
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Name
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Informe o Nome"
                type="text"
                formControlName="name"
            />
        </div>
        <div >
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Endereço
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Informe o Endereço"
                type="text"
                formControlName="address"
            />
        </div>
    </div>
    
    <div>
        <button
            type="submit" 
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Adicionar
        </button>
    </div>
</form>