<div class="flex flex-col flex-1 justify-start w-full gap-4">
    <div class="flex w-full">
        <span class="flex-1 w-full text-2xl font-semibold text-red-500">Gerenciar Zoos</span>
    </div>
    <div class="flex w-full gap-4">
        <div class="flex-1 p-2 border rounded">
            <add-zoo [zooList]="zooList"></add-zoo>
        </div>
        <div class="flex-1 p-2 border rounded">
            <table id="pagination-table" class="table-auto border w-full">
                <thead>
                    <tr>
                        <th class="border text-center px-4">Nome</th>
                        <th class="border text-center px-4">Endereço</th>
                        <th class="border text-center px-4">Animais</th>
                        <th class="border text-center px-4">Visitantes</th>
                    </tr>
                </thead>
                <tbody>
                    @for (zoo of zooList; track zoo.uuid) {
                        <tr>
                            <td class="border px-4">
                                <a href="/zoo/{{zoo.uuid}}" class="text-blue-500">{{ zoo.name }}</a>
                            </td>
                            <td class="border px-4">{{ zoo.address }}</td>
                            <td class="border text-center px-4">{{ zoo.animalCount }}</td>
                            <td class="border text-center px-4">{{ zoo.guestCount }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>